
footer {
    background-color: var(--dsc-color-bg-tertiary);
    height: 120px;    
}

.dsc-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 960px;
    height: 100%;
    padding: 20px;
}

.dsc-footer p {
    color: var(--dsc-color-ft-primary);   
    font-size: 16px;
}