


@media (max-width: 576px) {
    main {
        padding: 0 20px;
    } 

    img {
        max-width: 260px;
        height: 164px;
    }
}

@media (max-width: 415px) {
    
    /* HEADER */
    header h1 {
        font-size: 20px;        
    }
     
    /* HEADER */
    .dsc-main-card h2 {
      font-size: 20px;
    }

    .dsc-card p {
       font-size: 16px;     
    }

    /* SECTION OPNIONS */

    .dsc-sectionOpnions h3 {
        font-size: 20px;
    }
}