

.dsc-sectionOpnions h3 {
    font-size: 32px;
    color: var(--dsc-color-ft-secundary);
    padding: 20px;
    text-align: center;
}

.dsc-mensages {
    width: 100%;
    max-width: 960px;
    height: 74px;
    border: 1px solid var(--dsc-color-bg-tertiary);
    padding: 20px 10px; 
    border-radius: 10px;
    background-color: var(--dsc-color-bg-primary);
    margin: 0 auto;
    margin-bottom: 20px;
}

.dsc-mensages {
    color: var(--dsc-color-ft-tertiary);
    font-size: 16px;
}
