
/* SECTION OPNIONS */

.dsc-sectionOpnions h3 {
    font-size: 32px;
    color: var(--dsc-color-ft-secundary);
    padding: 20px;
    text-align: center;
}

.dsc-mensages {
    padding:30px 15px;    
    border: 1px solid var(--dsc-color-bg-tertiary);
    border-radius: 10px;
    background-color: var(--dsc-color-bg-primary);
    margin: 0 auto;
    margin-bottom: 20px;
}

.dsc-mensages p {
    color: var(--dsc-color-ft-tertiary);
    font-size: 16px;
}
